[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
redis = "*"
flask-restx = "*"
celery = "==5.1.2"
eventlet = "*"
setuptools = "==50.3.2"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.6"
